<div>
    <%= @game.player_1.name %> vs. <%= @game.player_2.name %>
</div>
<div> 
    <%= @game.player_1.name %>'s HP: <%= @game.player_1.hp %>
</div>
<div?>
    <%= @game.player_2.name %>'s HP: <%= @game.player_2.hp %>
</div>
<br>
<br>
<div>
    <%= @game.current_turn.name %>'s turn
</div>
<form action='/attack'>
    <input type="submit" value="Attack!">
</form>
